<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Positions</h1>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Position Name</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let position of positions | async">
        <td>{{position.positionName}}</td>
        <td><button (click)="deletePosition(position.positionId)">Delete</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
