<div class="container">
  <h3>Update Employeeoperation</h3>
  <br>
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="dateOperation">Date Operation</label>
      <input type="date" class ="form-control" id = "dateOperation"
             [(ngModel)] = "today" name = "dateOperation">
      <br>
      <label>Last Name</label>
      <select class="form-select"  [(ngModel)]="employeeoperation.lastName" name="lastName">
        <option *ngFor="let v of employees" [value]="v.lastName">{{v.lastName}}</option>
      </select>
      <br>
      <label>Position Name</label>
      <select class="form-select" [(ngModel)]="employeeoperation.positionName" name="positionName">
        <option *ngFor="let v of positions" [value]="v.positionName">{{v.positionName}}</option>
      </select>
      <br>
      <label>Type Operation</label>
      <select class="form-select" [(ngModel)]="employeeoperation.typeOperationName" name="typeOperationName">
        <option *ngFor="let v of typeoperations" [value]="v.typeOperationName">{{v.typeOperationName}}</option>
      </select>
      <br>
      <label>Department Name</label>
      <select class="form-select" [(ngModel)]="employeeoperation.departmentName" name="departmentName">
        <option *ngFor="let v of departments" [value]="v.departmentName">{{v.departmentName}}</option>
      </select>
    </div>
    <br>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
