<div class="container">
  <h3>Update Employee</h3>
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="employee.lastName" name="lastName">
      <label >First Name</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="employee.firstName" name="firstName">
      <label >Patronymic</label>
      <input type="text" class="form-control" id="patronymic" required [(ngModel)]="employee.patronymic" name="patronymic">
      <label >Birthday</label>
      <input type="date" class="form-control" id="birthday" required [(ngModel)]="date" name="birthday">
      <label >Gender</label>
      <input type="text" class="form-control" id="gender" required [(ngModel)]="employee.gender" name="gender">
      <label >Job Number</label>
      <input type="text" class="form-control" id="jobNumber" required [(ngModel)]="employee.jobNumber" name="jobNumber">
      <label >Home Number</label>
      <input type="text" class="form-control" id="homeNumber" required [(ngModel)]="employee.homeNumber" name="homeNumber">
      <div class="row">
        <div class="col-md-4">
          <label>Union Membership</label>
        </div>
        <div class="col-md-4">
          <input type="checkbox" class ="form-check-input" id = "unionMembership"
                 [(ngModel)] = "employee.unionMembership" name = "unionMembership">
        </div>
      </div>
      <input type="text" class="form-control" id="street" required [(ngModel)]="employee.street" name="street">
      <label >House</label>
      <input type="text" class="form-control" id="house" required [(ngModel)]="employee.house" name="house">
      <label >Apartment</label>
      <input type="text" class="form-control" id="apartment" required [(ngModel)]="employee.apartment" name="apartment">
    </div>
    <br>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

