<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Employee Operations</h1>
  </div>
  <div class="panel-body">
    <button (click) = "createEmployeeoperation()" class = "btn btn-info">Add employee operation</button>
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Date Operation</th>
        <th>Last Name</th>
        <th>Position Name</th>
        <th>Type Operation Name</th>
        <th>Department Name</th>
        <th>Delete</th>
        <th>Update</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employeeoperation of employeeoperations | async">
        <td>{{employeeoperation.dateOperation | date:'yyyy-MM-dd'}}</td>
        <td>{{employeeoperation.lastName}}</td>
        <td>{{employeeoperation.positionName}}</td>
        <td>{{employeeoperation.typeOperationName}}</td>
        <td>{{employeeoperation.departmentName}}</td>
        <td><button (click)="deleteEmployeeoperation(employeeoperation.orderNumber)">Delete</button></td>
        <td><button (click) = "updateEmployeeoperation(employeeoperation.orderNumber)" class = "btn btn-info"> Update</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

