<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Employee Operations</h1>
  </div>
  <div class="panel-body">
    <button (click) = "createEmployeeoperation()" class = "btn btn-info">Add employee operation</button>
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Date Operation</th>
        <th>Reg Number</th>
        <th>Position Id</th>
        <th>Department Id</th>
        <th>Delete</th>
        <th>Update</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employeeoperation of employeeoperations | async">
        <td>{{employeeoperation.dateOperation}}</td>
        <td>{{employeeoperation.regNumber}}</td>
        <td>{{employeeoperation.positionId}}</td>
        <td>{{employeeoperation.departmentId}}</td>
        <td><button (click)="deleteEmployeeoperation(employeeoperation.orderNumber)">Delete</button></td>
        <td><button (click) = "updateEmployeeoperation(employeeoperation.orderNumber)" class = "btn btn-info"> Update</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

