<h3>Update Position</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Position ID</label>
      <input type="text" class="form-control" id="positionId" required [(ngModel)]="position.positionId" name="positionId">
    </div>

    <div class="form-group">
      <label for="name">Position Name</label>
      <input type="text" class="form-control" id="positionName" required [(ngModel)]="position.positionName" name="positionName">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
