<nav class="nav navbar-expand-sm bg-dark navbar-dark navbar-brand">
  <div class="container">
    <ul class = "navbar-nav">
      <li class = "nav-item">
        <a routerLink="/employeeoperations" routerLinkActive="active" class="nav-link">Employee List</a>
      </li>
      <li>
        <a routerLink="/departments" routerLinkActive="active" class="nav-link">Department List</a>
      </li>
      <li>
        <a routerLink="/employees" routerLinkActive="active" class="nav-link">Employee List</a>
      </li>
      <li>
        <a routerLink="/positions" routerLinkActive="active" class="nav-link">Position List</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
    <h3>Typeoperations</h3>
    <button (click) = "createTypeoperation()" class = "btn btn-success">Add typeoperation</button>
    <br>
    <br>
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Typeoperation Name</th>
        <th>Delete</th>
        <th>Update</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let typeoperation of typeoperations | async">
        <td>{{typeoperation.typeOperationName}}</td>
        <td><button (click)="deleteTypeoperation(typeoperation.typeOperationId)" class = "btn btn-danger">Delete</button></td>
        <td><button (click) = "updateTypeoperation(typeoperation.typeOperationId)" class = "btn btn-secondary"> Update</button></td>
      </tr>
      </tbody>
    </table>
</div>
