<div class="col-md-6 offset-md-3">
  <h3> Create Employee Operation </h3>
  <form (ngSubmit) = "onSubmit()">

    <div class="form-group">
      <label>Date Operation</label>
   <!--   <input type="text" class ="form-control" id = "dateOperation"
             [(ngModel)] = "employeeoperation.dateOperation" name = "dateOperation"> -->
      <input type="date" class ="form-control" id = "dateOperation"
             [(ngModel)] = "employeeoperation.dateOperation" name = "dateOperation">
      <label>Last Name</label>
      <input type="text" class ="form-control" id = "regNumber"
             [(ngModel)] = "employeeoperation.lastName" name = "regNumber">
      <label>Position Name</label>
      <input type="text" class ="form-control" id = "positionId"
             [(ngModel)] = "employeeoperation.positionName" name = "positionId">
      <label>Type Operation</label>
      <input type="text" class ="form-control" id = "typeOperationId"
             [(ngModel)] = "employeeoperation.typeOperationName" name = "typeOperationId">
      <label>Department Name</label>
      <input type="text" class ="form-control" id = "departmentId"
             [(ngModel)] = "employeeoperation.departmentName" name = "departmentId">
    </div>

    <button class = "btn btn-success" type ="submit">Submit</button>

  </form>
</div>
